[Desktop Entry]
Name=GuideOS Cinnamon-Sicherung
Comment=Sichert und stellt Cinnamon Desktop-Einstellungen wieder her
Exec=/bin/guideos-layout-sicherung.py
Icon=/usr/share/pixmaps/guideos-layout-sicherung.png
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
Name[de_DE]=guideos-cinnamon-sicherung.desktop
