[Desktop Entry]
Name=GuideOS Layout-Sicherung
Comment=Sichert und stellt dein Desktop-Layout wieder her
Exec=/usr/bin/guideos-layout-sicherung
Icon=guideos-layout-sicherung
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
Name[de_DE]=GuideOS Layout-Sicherung
